td.group {
    background-color: #D1CFD0;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
}
tr.odd {
    background-color: #E2E4FF!important;
}
tr.even {
    background-color: white!important;
}
