<div ng-if="loading">Loading .. <img src="dist/images/ajax-loader.gif"></div>
<table id="errorJobs" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Error Message</th>
                <th>Error Job Link</th>
                <th>Start Time</th>
                <th>Time in min</th>
                <th>Time</th>
                <th>JobId</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Error Message</th>
                <th>Error Job Link</th>
                 <th>Start Time</th>
                <th>Time in min</th>
                <th>Time</th>
                <th>JobId</th>
            </tr>
        </tfoot>

        <tbody>

        </tbody>
    </table>